<td *ngFor="let logger of loggers" class="box" style="width: 30%; padding-right: 3.5%; padding-left: 3.5%;">
  <div class="well hero-unit">
    <div style="text-align: center">
      <div style="font-size: 20px">{{ logger.logger_display_name }}:</div>
      <div style="font-size: 20px; margin-top: 10px; margin-bottom: -30px;">
        <i class="fa fa-tint" aria-hidden="true"></i> {{ logger.humidity }}&#37;
      </div>
      <div>
        <span name="temperature" style="font-size: 150px;">{{ logger.temperature_celsius | round }}&deg;</span>
        <span style="font-size: 40px; margin-left: -20px;">C</span>
      </div>
      <div style="font-size: 20px; margin-top: -20px; margin-bottom: 10px;">
        Feels like {{ logger.heat_index_celsius | round: 2 }}&deg;C
      </div>
      <div style="font-size: 20px">Last update: {{ logger.updatedAt | date: "dd/MM/yy HH:mm" }}</div>
    </div>
  </div>
</td>
