<td *ngFor="let logger of loggers" class="box logger-box">

  <div class="well hero-unit logger-well">

    <div>{{ logger.logger_display_name }}:</div>

    <div class="humidity">
      <i class="fa fa-tint" aria-hidden="true"></i> {{ logger.humidity }}&#37;
    </div>

    <div>
      <span name="temperature" class="temperature-value">{{ logger.temperature_celsius | round }}&deg;</span>
      <span class="temperature-unit">C</span>
    </div>

    <div class="heat-index">
      Feels like {{ logger.heat_index_celsius | round: 2 }}&deg;C
    </div>

    <div>Last update: {{ logger.updatedAt | date: "dd/MM/yy HH:mm" }}</div>

  </div>

</td>
